{% extends "layouts/base.html" %}

{% block title %} Edit Player {% endblock %}

{% block content %}

<style>
    input,
    textarea {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    textarea {
        height: 40px;
    }
    .input-custom {
        margin: 5px auto;
    }
</style>

<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Edit Player</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'player_list' %}">Players</a></li>
                            <li class="breadcrumb-item">Edit Player</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Details of {{ player.username }}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    {% for field in form %}
                                    <div class="col-md-6 input-custom">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
