	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="/" class="b-brand">
					<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg">
					<img src="/static/assets/images/logo-sm.svg" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Pages</label>
					</li>
					<li class="pc-item">
						<a href="/game-stats/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Game Stats</span></a>
					</li>
					<li class="pc-item">
						<a href="/leaderboard/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Leaderboard</span></a>
					</li>
					<li class="pc-item">
						<a href="/players/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Players</span></a>
					</li>

					<li class="pc-item">
						<a href="/travel-routes/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Travel Routes</span></a>
					</li>

					<li class="pc-item">
						<a href="" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Edit City</span></a>
					</li>
				
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Item DB</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">News/Events</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Properties</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone"></i></span><span class="pc-mtext">Businesses</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
